// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LCTRL k2  &ht LALT k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RALT k2  &ht RCTRL k3  &ht RSHFT k4


// Layers
#define LBASE 0
#define LNAV 1
#define LNUM 2
#define LBLE 3
/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <0>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
        lm: layer_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LNAV LNUM>;
            then-layer = <LBLE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        base_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ; :      │
            HRML(A,        S,         D,         F)     &kp G          &kp H      HRMR(J,        K,         L,     SEMICOLON)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &lm LNUM TAB  &kp SPACE    &kp BSPC   &lm LNAV ENTER
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        nav_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │  ` ~     │  #       │  $       │ %        │   │ DELETE   │ HOME     │ END      │          │          │
           &kp ESC    &kp GRAVE  &kp HASH   &kp DOLLAR &kp PRCNT      &kp DEL    &kp HOME   &kp END    &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ !        │ ' "      │  (       │  )       │  - _     │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │ RSHIFT   |
           &kp EXCL    &kp SQT   &kp LPAR   &kp RPAR   &kp MINUS      &kp LARW   &kp DARW   &kp UARW   &kp RARW   &kp RSHIFT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ @        │  \ |     │  [ {     │  } ]     │  = +     │   │ INSERT   │  PAGE DN │ PAGE UP  │          │          │
           &kp AT     &kp BSLH  &kp LBKT   &kp RBKT     &kp EQUAL     &kp INS    &kp PG_DN  &kp PG_UP  &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        num_layer {
            bindings = <
        //╭──────────┬──────────┬───────────────────┬──────────┬────────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  1       │  2       │  3                │  4       │ 5          │   │  6       │  7       │  8       │  9       │  0       │
            &kp N1     &kp N2    &kp N3               &kp N4     &kp N5          &kp N6     &kp N7      &kp N8    &kp N9     &kp N0
        //├──────────┼───────────┼──────────────────┼──────────┼────────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LSHIFT  │  VOL UP   │ VOL DOWN         │  NEXT    │  PLAY      │   │          │  F11     │  F12     │          │  RSHIFT  │
           &kp LSHIFT &kp C_VOL_UP &kp C_VOLUME_DOWN &kp C_NEXT   &kp C_PLAY      &trans     &kp F11    &kp F12    &trans    &kp RSHIFT
        //├──────────┼───────────┼──────────────────┼──────────┼────────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F1      │  F2       │  F3              │  F4      │  F5        │   │  F6      │  F7      │  F8      │  F9      │  F10     │
            &kp F1     &kp F2      &kp F3             &kp F4     &kp F5           &kp F6     &kp F7    &kp F8     &kp F9     &kp F10
        //╰──────────┴───────────┴──────────────────┼──────────┼────────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                         &trans     &trans         &trans     &trans
        //                                            ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        ble_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
            &reset     &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans      &reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &trans     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
